<% for(i=0;i<data.length;i++){%>
<li>
    <div class="IhrefA" ishref="../html/Y_DCList.html?category=<%=data[i].categoryName%>" iTag="<%=data[i].categoryName%>">
        <h2><%=data[i].categoryName%></h2>
        <p><%=data[i].remark%></p>
        <span><img src="../images/Y_DCListicon.png"></span>
    </div>
</li>
<% } %>






