<%- include('ejs/head') %>
<body>
<header class="Ynav Jnav">
    <em  class="a Y_tump Docjump J_jumpBtn"> </em>
    <h1>活动规则</h1>
</header>
<section class="container">
    <div class="ruleBox">
        <div class="rule_title">一、活动时间</div>
        <div class="rule_txt">2019年6月14日起，邀请好友活动持续进行。“哆咖医生”APP根据活动开展情况通过短信、网站消息推送等方式公布具体的活动时间和活动规则。</div>

        <div class="rule_title">二、邀请好友及奖励规则</div>
        <div class="rule_txt">
            1、如何邀请好友？<br/>
            点击“邀请好友”活动页面，通过多种平台分享邀请函请好友下载“哆咖医生”APP注册认证。
            2、怎么算邀请成功？<br/>
            被邀请的好友用手机号首次注册“哆咖医生”APP，提交资质认证并审核通过，即为邀请成功。<br/>
            3、邀请好友成功后可以得到什么？<br/>
            （1）已注册“哆咖医生”APP并认证成功的用户（以下简称‘老用户’）每成功邀请一位好友注册“哆咖医生”并认证通过，即可获得邀请奖励金，金额随机发放，最高可得100元（单位：元，人民币，下同）的现金奖励，不限邀请人数。<br/>
            （2）被邀请人（以下简称“新用户”）接受邀请下载注册“哆咖医生”APP，提交资质并认证成功，可获得新人现金红包。
        </div>

        <div class="rule_title">三、现金发放及提现规则</div>
        <div class="rule_txt">1、现金发放：老用户的邀请奖励金及新用户的新人红包均直接转入本人在“哆咖医生”APP的“我的收入”中。</div>
        <div class="rule_txt">
            2、提现规则：<br/>
            （1）“我的收入”现金提现时间：每月15号可以进行提现操作。<br/>
            （2）提现到账时间：在“哆咖医生”APP内进行提现操作后，3-5个工作日即可到达绑定账户。
        </div>

        <div class="rule_title">四、邀请计数规则</div>
        <div class="rule_txt">
            1、计入邀请人数：被邀请人首次下载注册“哆咖医生”APP 并且提交资质通过平台认证，即可计入邀请人数。<br/>
            2、以下情况不作为邀请计数：<br/>
            （1）被邀请人在活动期间仅注册手机号，但未上传资质认证。<br/>
            （2）被邀请人在非活动期间注册“哆咖医生”并认证成功。<br/>
        </div>

        <div class="rule_title">五、活动声明 </div>
        <div class="rule_txt">
            （1）活动期间，同一登录账号，同一手机号，同一设备终端号，同一IP或者其他合理显示为同一用户情形，均视为同一用户。<br/>
            （2）活动期间，通过不正当手段（包括但不限于侵犯第三人合法权益，作弊，扰乱系统，实施网络攻击，批量注册，用机器注册账号，用机器模拟客户端）获得邀请奖励金，“哆咖医生”有权撤销发放奖励金。<br/>
            （3）如出现不可抗力事件或者情势变更情况（包括但不限于活动受政府机关指令需要停止举办）则“哆咖医生”可依相关规定中止或终止本次活动。<br/>
            （4）在不违反国家相关法律法规的前提下，该活动最终解释权归“哆咖医生”所有。<br/>
        </div>
    </div>
</section>
<%- include('ejs/foot') %>
</body>
</html>