<%- include('ejs/head') %>
<body class="Y_HuiBody" style="position: relative;background: #FAFAFA;overflow-x: hidden">
<section class="Ynav">
    <a href="javascript:window.history.back();" class="Y_tump  infoDetail_btn"> </a>
    <h1 class="checkType"></h1>
    <b class="Y_tump search_h"><img src="../images/trackPlan_search.png"></b>
</section>

<div class="form_type">
    <div class="handList">
        <!--<ul class='H_secList'>
            <div class="titleCon" style="background: #fff" secondLeveName='临床血液检查' secondLevelId="84">
                <span>临床血液检查</span>
                <img class="desImgToggle" src="../images/Shape_Copy_7.png"/>
            </div>
            <div class="checkList" style="display: none">
                <ul class="checkListText">
                    <li thirdLevelName='红细胞检查' thirdLevelId ='85'>红细胞检查</li>
                </ul>
            </div>
        </ul>
        <ul class='H_secList'>
            <div class="titleCon" style="background: #fff" secondLeveName='临床血液检查' secondLevelId="84">
                <span>临床血液检查</span>
                <img class="desImgToggle" src="../images/Shape_Copy_7.png"/>
            </div>
            <div class="checkList" style="display: none">
            </div>
        </ul>
        <ul class='H_secList'>
            <div class="titleCon" style="background: #fff" secondLeveName='临床血液检查' secondLevelId="84">
                <span>临床血液检查</span>
            </div>
            <div class="checkList" style="display: none">
            </div>
        </ul>-->
    </div>
</div>

<%- include('ejs/foot') %>
</body>
</html>