<%- include('ejs/head') %>
<body class="Y_HuiBody" style="position: relative;background: #fff;overflow-x: hidden">
<section class="Ynav">
    <a href="javascript:window.history.back();" class="Y_tump  infoDetail_btn"> </a>
    <h1 class="H_checkTitle"></h1>
    <b class="Y_tump search_h"><img src="../images/trackPlan_search.png"></b>
</section>

<div class="form_type">

    <!--滚动区域-->
    <div id="wrapper" style="overflow: hidden;">
        <div id="scroller">
            <div id="pullDown">
                <span class="pullDownLabel">下拉刷新</span>
            </div>
            <div id="thelist">
                <ul class="history">
                    <!--<li itemId="2" name="不稳定血红蛋白">不稳定血红蛋白</li>-->
                </ul>
            </div>
            <div id="pullUp">
                <span class="pullUpLabel">上拉加载更多</span>
            </div>
        </div>
        <!--滚动条-->
        <div class="Y_gdt">
            <div class="Y_gdt1"></div>
        </div>
    </div>

    <dl class="JnoData">
        <dt><img src="../images/Y_HeathBg1.png"></dt>
        <dd>暂无数据</dd>
    </dl>

</div>

<%- include('ejs/foot') %>
</body>
</html>