<%- include('ejs/head') %>
<body class="Y_HuiBody" style="position: relative;background: #FAFAFA;overflow-x: hidden">
<section class="Ynav">
    <a href="javascript:;" class="Y_tump J_jumpBtn"> </a>
    <h1>检验手册</h1>
    <b class="Y_tump search_h"><img src="../images/trackPlan_search.png"></b>
</section>

<div class="form_type">
    <div class="chenkBook">
        <div class="target" type="体格检验">
            <img src="../images/Group_24.png"/>
            <p>体格检验</p>
        </div>
        <div class="target" type="化学检验">
            <img src="../images/Group_23.png"/>
            <p>化学检验</p>
        </div>
        <div class="target" type="物理检验">
            <img src="../images/Group_25.png"/>
            <p>物理检验</p>
        </div>
    </div>
    <div class="checkLine"></div>
    <div class="checkTitle">
        <div class="titleCon">
            <i></i>
            <span>大家都在看</span>
        </div>
        <ul class="recommend">
            <!--<li id="3" name="血红蛋白">血红蛋白</li>-->
        </ul>
    </div>
</div>

<%- include('ejs/foot') %>
</body>
</html>