<%- include('ejs/head') %>
<body class="Y_HuiBody" style="position: relative;background: #ffffff;overflow-x: hidden">
<section class="Ynav">
    <a href="javascript:;" class="Y_tump  infoDetail_btn"> </a>
    <h1 class="H_checkTitle" style="    text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"></h1>
    <span class="invitesImg collectBtn"></span>
    <span class="invitesImg shareBtn"></span>
</section>
<section class="shareHeader hide">
    <span class="logo"></span>
    <span class="appName">哆咖医生</span>
    <span class="openApp" id="openApp">打开</span>
</section>
<div class="form_type">
    <div class="checkDetail">
        <div class="illName handBookTitle">
            [检验名称]
        </div>
        <div class="examinationName checkTop">
            <!--不稳定血红蛋白-->
        </div>
        <div class="sampleType handBookTitle">
            [样本类型]
        </div>
        <div class="specimenType checkTop">
            <!--全血-->
        </div>
        <div class="referenceRange handBookTitle">
            [参考范围]
        </div>
        <div class="normalScope checkTop">
            <!--加热法：<5%    异丙醇法：阴性-->
            <!--红细胞变性蛋白小体法：<1%-->
        </div>
        <div class="clinicalYi handBookTitle">
            [临床意义]
        </div>
        <div class="clinicMeans checkTop">
            <!--俄罗斯乌拉尔斯克一居民区出现了绿色的雪.-->
        </div>
        <div class="xgDiseases handBookTitle">
            [相关疾病]
        </div>
        <div class="relatedDiseases checkTop">
            <!--不稳定血红蛋白-->
        </div>
        <div class="sourceKao handBookTitle">
            [参考来源]
        </div>
        <div class="exampleResource checkTop" style="word-break: break-all">
            <!--雪应该是白色的。然而最近在俄罗斯的一些地方却出现了绿色以及黑色的雪。当地居民纷纷抱怨-->
        </div>
    </div>
</div>
<!--<div class="viewMore hide">-->
    <!--<span class="getMoreBtn">查看更多</span>-->
<!--</div>-->
<div class="hide recruitgomore"><span class="getMoreBtn" id="getMoreBtn">打开APP查看更多详情</span></div>
<%- include('ejs/foot') %>
</body>
</html>