<%- include('ejs/head') %>
<body class="Y_HuiBody" style="position: relative;background: #F9F9F9;overflow-x: hidden">
<section class="Ynav">
    <a href="javascript:window.history.back();" class="Y_tump"> </a>
    <h1>去登录</h1>
</section>

    <div class="form_type" style="display: block">
        <dl class="noTalk">
            <dt><img src="../images/H_gotoLogin.png"></dt>
            <dd>只有登录后才能使用该功能，请先登录</dd>
        </dl>
        <p class="gotoLogin">
            去登录
        </p>
    </div>

<%- include('ejs/foot') %>
</body>
</html>