<%- include('ejs/head') %>
<body class="Y_HuiBody" style="position: relative;background: #ffffff;overflow-x: hidden">
<section class="Ynav">
    <a href="javascript:window.history.back();" class="Y_tump  infoDetail_btn"> </a>
    <h1>方案详情</h1>
</section>

<div class="form_type">
    <div class="sport_title hide">
        <i></i>
        <span>运动建议</span>
    </div>
    <div class="sportText">
        <!--推荐运动方式：慢跑
        慢跑速度：通常为每分钟100~120米；
        慢跑时间：最佳时间17~18点；
        慢跑次数：每次10~15分钟，在一个月内逐步提升到每次20分钟，每周3次；
        运动适宜与否自测：不觉得难受、不喘粗气不面红耳赤，每分钟心率＜（180-年龄）-->
    </div>
    <div class="diet_title hide">
        <i></i>
        <span>膳食建议</span>
    </div>
    <div class="dietText">
        <!--餐前提醒：少食高钠盐、高脂肪食品，提倡多食高钾、高蛋白、高钙食品，如：菠菜、香蕉、橘子、奶制品等。-->
    </div>
    <div class="action_title hide">
        <i></i>
        <span>行为建议</span>
    </div>
    <div class="actionText">
        <!--餐前提醒：少食高钠盐、高脂肪食品，提倡多食高钾、高蛋白、高钙食品，如：菠菜、香蕉、橘子、奶制品等。-->
    </div>
    <div class="heart_title hide">
        <i></i>
        <span>心理建议</span>
    </div>
    <div class="heartText">
        <!--餐前提醒：少食高钠盐、高脂肪食品，提倡多食高钾、高蛋白、高钙食品，如：菠菜、香蕉、橘子、奶制品等。-->
    </div>
    <div class="precautions_title hide">
        <i></i>
        <span>其他</span>
    </div>
    <div class="precautionsText">
        <!--餐前提醒：少食高钠盐、高脂肪食品，提倡多食高钾、高蛋白、高钙食品，如：菠菜、香蕉、橘子、奶制品等。-->
    </div>
    <div class="special_title hide">
        <i></i>
        <span>特别叮嘱</span>
    </div>
    <div class="specialText">
        <!--一日三餐请按时吃饭-->
    </div>
</div>

<%- include('ejs/foot') %>
</body>
</html>