<%- include('ejs/head') %>
<body>
<div class='wrap'>
    <div class="J_patient">
<!--       <div class="j_patient_up J_historyDealBox">
           <section class="Ynav">
               <a href="J_patient.html" class="Y_tump"> </a>
               <h1 class="category">交易成功</h1>
           </section>
           <div class="p_datTop flexbox J_historyDeal">
               <div class="p_cont">
                   <h2>1500.00</h2>
                   <b class="name">张玉涛</b>
               </div>
           </div>
        </div>
        <div class="p_datBottom p_datBottomHis">
           <h4>
               <label>提现金额</label>
               <span class="sex">￥1500</span>
           </h4>
            <h4>
                <label>提现到</label>
                <span class="birthDay">支付宝(185*****096)</span>
            </h4>
            <h4>
                <label>申请时间</label>
                <span class="healthCard">2017-10-23  14:56:09</span>
            </h4>
            <h4>
                <label>到账时间</label>
                <span class="familyNo">2017-10-28  16:56:09</span>
            </h4>
            <h4>
                <label>支付宝订单号</label>
                <span class="familyNo">1234567890123455788</span>
            </h4>
            <h4>
                <label>流水号</label>
                <span class="familyNo">1234567890123455788</span>
            </h4>
        </div>-->
    </div>
</div>
<%- include('ejs/foot') %>
</body>
</html>