<%- include('ejs/head') %>
<body>
<div class='wrap'>
    <div class="J_patient J_incomeDetailBox">
<!--       <div class="j_patient_up J_historyDealBox">
           <section class="Ynav">
               <a href="J_patient.html" class="Y_tump"> </a>
               <h1 class="category">收入详情</h1>
           </section>
           <div class="p_datTop flexbox J_historyDeal">
               <div class="p_cont">
                   <h2>1500.00</h2>
                   <b class="name">账户金额(元)</b>
               </div>
           </div>
        </div>
        <div class="p_datBottom p_datBottomHis">
           <h4>
               <label>服务类型</label>
               <span class="sex">视频咨询</span>
           </h4>
            <h4>
                <label>服务对象</label>
                <span class="birthDay">张娜拉</span>
            </h4>
            <h4>
                <label>入账时间</label>
                <span class="healthCard">2017-10-23  14:56:09</span>
            </h4>
            <h4>
                <label>智医订单号</label>
                <span class="familyNo">1234567890123455788</span>
            </h4>
        </div>-->
    </div>
</div>
<%- include('ejs/foot') %>
</body>
</html>