<%- include('ejs/head') %>
<body>
<div class='wrap'>
    <section class="Ynav">
        <a href="J_patient.html" class="Y_tump"> </a>
        <h1 style="width:inherit;height:inherit;"><input type="text" class="YSeachinput" id="YSeachinput" placeholder="搜索"></h1>
        <b class="Y_tump DCcancleBtn">取消</b>
    </section>
    <div class="Y_docIndex J_patient JindexBox">
        <div class='J_patientList JDCCon'>
            <!--<ul>
                <li class="p_item">
                    <a href="" class="flexbox">
                        <img class="p_phone" src="../images/Y_medicalImg1.png" />
                        <b class="p_name">张兰兰</b>
                        <label class="p_sex"> 女</label>
                        <i class="p_age">57岁</i>
                    </a>
                </li>
                <li class="p_item">
                    <a href="" class="flexbox">
                        <img class="p_phone" src="../images/Y_medicalImg1.png" />
                        <b class="p_name">张兰兰</b>
                        <label class="p_sex"> 女</label>
                        <i class="p_age">57岁</i>
                    </a>
                </li>
                <li class="p_item">
                    <a href="" class="flexbox">
                        <img class="p_phone" src="../images/Y_medicalImg1.png" />
                        <b class="p_name">张兰兰</b>
                        <label class="p_sex"> 女</label>
                        <i class="p_age">57岁</i>
                    </a>
                </li>
            </ul>-->
          <!--  <dl class="JnoData">
                <dt><img src="../images/Y_DCListSechBg.png"></dt>
                <dd>暂无数据</dd>
            </dl>-->
        </div>
    </div>
</div>
<%- include('ejs/foot') %>
</body>
</html>