<%- include('ejs/head') %>
<body>
<div class='wrap'>
    <section class="Ynav Jnav">
        <b class="Y_tump Jleft">
            <a href="J_patientSearch.html">
                <img src="../images/Y_seach.png">
            </a>
        </b>
        <h1>患者管理</h1>
    </section>
    <div class="Y_docIndex J_patient JindexBox">
        <div class='J_patientList JDCCon JcontentBox'>
          <!--  <ul>
                <li class="p_item">
                    <a href="" class="flexbox">
                        <img class="p_phone" src="../images/Y_medicalImg1.png" />
                        <b class="p_name">张兰兰</b>
                        <label class="p_sex"> 女</label>
                        <i class="p_age">57岁</i>
                    </a>
                </li>
                <li class="p_item">
                    <a href="" class="flexbox">
                        <img class="p_phone" src="../images/Y_medicalImg1.png" />
                        <b class="p_name">张兰兰</b>
                        <label class="p_sex"> 女</label>
                        <i class="p_age">57岁</i>
                    </a>
                </li>
                <li class="p_item">
                    <a href="" class="flexbox">
                        <img class="p_phone" src="../images/Y_medicalImg1.png" />
                        <b class="p_name">张兰兰</b>
                        <label class="p_sex"> 女</label>
                        <i class="p_age">57岁</i>
                    </a>
                </li>
            </ul>-->
           <!-- <dl class="JnoData">
                <dt><img src="../images/Y_DCListSechBg.png"></dt>
                <dd>您还没有添加患者</dd>
            </dl>-->
        </div>
    </div>
</div>
<%- include('ejs/foot') %>
</body>
</html>