<%- include('ejs/head') %>
<body>
<div class='wrap'>
    <div class="J_patient">
<!--       <div class="j_patient_up">
           <section class="Ynav">
               <a href="J_patient.html.html" class="Y_tump"> </a>
               <h1 class="category">患者详情</h1>
           </section>
           <div class="p_datTop flexbox">
               <div class="p_cont">
                   <img src="../images/Y_medicalImg2.png" class="datPhont" />
                   <b class="name">张玉涛</b>
               </div>
           </div>
        </div>
        <div class="p_datBottom">
           <h4>
               <label>性别</label>
               <span class="sex">男</span>
           </h4>
            <h4>
                <label>出生日期</label>
                <span class="birthDay">2015-05-25</span>
            </h4>
            <h4>
                <label>医保卡号</label>
                <span class="healthCard">12345678</span>
            </h4>
            <h4>
                <label>家庭号</label>
                <span class="familyNo">12345678</span>
            </h4>
            <h4>
                <label>咨询建议</label>
                <a href="">查看详情</a>
            </h4>
        </div>-->
    </div>
</div>
<%- include('ejs/foot') %>
</body>
</html>