<%- include('ejs/head') %>
<body class="swiperBody">
<div class='wrap '>
    <section class="Ynav Jnav">
        <em  class="a Y_tump Docjump J_jumpBtn"> </em>
        <h1>哆咖医生用户协议</h1>
    </section>
    <div class="Y_docIndex J_patient J_protocol" style="width:100%;">
        <p>哆咖医生App是北京健科云网科技有限公司（以下简称“健科云网”）开发的移动端软件平台，以“医疗云”为核心，与物联网、移动通信、云计算等先进技术相融合，为居民提供可及的卫生服务、连续的健康信息和全程的健康管理服务。在您注册成为哆咖医生用户之前，请您认真阅读本协议。当您在哆咖医生提交用户注册申请后，即视为您已阅读本协议所有条款，并对本协议条款的含义及相应的法律后果已全部知晓并充分理解，同意接受本协议约束，并完全服从于健科云网的统一管理。</p>
        
        <h1 class="iTitle">一、哆咖医生服务</h1>
        <p>健科云网将医护人员通过哆咖医生APP和带有健康咨询需求的家庭用户（以下简称“用户”）的智能健康终端进行对联，扩展医患沟通渠道，提供深入家庭的健康管理服务。医护人员授权健科云网在“哆咖医生”应用上展示个人或团队相关介绍，并在哆咖医生应用中开展订购形式的个性化健康咨询服务及家庭医生签约服务；用户可通过与哆咖医生应用对联的健康智能终端，订购“哆咖医生”的免费或付费服务，形式包括但不局限于由医护人员提供的图文、语音、视频等健康咨询类服务，以及由第三方提供的健康相关产品。</p>
        <p>医护人员在使用“哆咖医生”时，均需接受健科云网的《免责协议》：“哆咖医生”中所有医疗信息、图文影像信息、咨询信息等皆不作为诊断结果和医疗的证据，用户只能作为参考。健科云网不承担医护人员及用户在使用“哆咖医生”应用时可能产生的任何风险和责任。医护人员应及时与用户沟通，且最大化地确保相关个人资料和信息及时、准确上传。健科云网有义务保护医护人员和用户的个人资料及隐私信息（需要公布的资料和信息除外）的安全，不得泄露医护人员或用户的隐私资料。在使用平台服务的过程中，如遇医护人员回复延迟，建议用户（病情危急）应尽快前往医院就医。</p>
        <p>健科云网将定期根据医护人员服务情况，将其在“哆咖医生”获取的报酬按一定比例结算到医护人员指定账户，报酬包括：用户支付的服务费 。健科云网有权从上述报酬中代扣医护人员的个人所得税并按照健科云网制定的规则执行。健科云网有权根据需要制定和修改规则。</p>
        <p>医护人员发布内容时，即表示其许可健科云网、关联公司及其分支机构使用、复制、展览、表演、传播、翻译、编辑和创作派生作品，健科云网尊重医护人员对原内容拥有所有权，医护人员有权在任何时间书面要求“哆咖医生”在应用中将原内容删除。在此过程中，健科云网承诺始终对医护人员个人信息进行保密。</p>
        <p>健科云网除给医护人员提供“哆咖医生”应用，用于进行交流服务外，双方还可协商，利用健科云网资源在医护人员品牌建立和其他合作机会方面创造价值；树立在领域内的权威性、知名度和美誉度。具体的额外合作模式双方可另行约定或健科云网制定规则。</p>
        
        <h1 class="iTitle">二、哆咖医生使用规范</h1>
        <p>医护人员在“哆咖医生”应用上的一系列行为需遵守国家法律、法规等规范性文件及健科云网的各项规则和要求，不违背法律法规、社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。如果因此产生任何法律后果，医护人员或用户应独立承担法律责任。</p>
        <p>医护人员在“哆咖医生”应用上不得开展未经许可的诊断与治疗服务，不得以任何形式提供除咨询外的未经许可的医学帮助或服务，且不得影响医护人员所属医疗机构中的本职工作及其管理规章。医护人员同意，其应确保对其提供咨询交流服务的用户所发生的任何咨询及治疗活动，应在受法律认可的医疗实体内进行。在线咨询服务不可替代诊断与治疗服务，医护人员或用户不应将在线咨询代替处方、诊断、治疗方案等使用，医护人员和用户本人应自行承担由此产生的相应后果和法律责任。“哆咖医生”应用不得用于未经健科云网许可的药品、医疗器械及其他未经健科云网同意的商品或服务的销售和/或推广活动。因违反使用规范而使健科云网和/或用户，或医护人员与所属医疗机构产生纠纷的，由医护人员自行承担，健科云网不负任何法律责任，由此给健科云网造成损失的，健科云网有权追偿。</p>
        <p>医护人员通过“哆咖医生”应用能且仅能提供咨询服务（包括医学信息，健康知识，医疗健康咨询建议等符合法律规定且哆咖医生端所允许的咨询服务事项），且咨询均只限于根据用户的主观描述，医护人员尽可能利用医学知识及相关经验给予一定的解惑及建议，不能满足用户的诊断、治疗要求，且无法对结果是否符合用户预期做保证。医护人员通过“哆咖医生”应用进行的任何有关健康的咨询解答、用药情况指导等，请遵照我国现行有效法律法规的规定，您的一切行为与健科无关。</p>
        <p>在使用哆咖医生应用的过程中，如果发生：(1)对健科云网提供服务内容及质量存有异议，(2)发现任何违反或可能违反本协议及使用规范的内容或行为，或者(3)其他任何须向健科云网“哆咖医生”告知的不当使用情况，医护人员可以通过以下方式向“哆咖医生”提出投诉或举报：拨打400-1110-120客服电话，并提供上述事件的必要证据材料。“哆咖医生”在收到前述投诉或申诉后，如为服务纠纷，“哆咖医生”可依据情况协调沟通；如为投诉或举报，经核查内容违法违规或不当属实的，“哆咖医生”应当向事件参与人及时警示告知，对相关内容予以删除或屏蔽，且“哆咖医生”保留因事件性质及严重程度，根据自行判断对该参与人所使用的“哆咖医生”账户予以暂停使用、冻结直至取消该账户资格的权利。对于无法证实投诉或举报内容真实性的， “哆咖医生”及时向投诉人或举报人告知情况。虽有上述规定，“哆咖医生”作为平台方仅协助各方处理争议及投诉举报内容，任何此类事件参与人应自行对该等事件独立承担法律责任。</p>
        <p>医护人员在使用“哆咖医生”端软件服务过程中，必须遵循以下原则：(1)不得使用任何舞弊手段参加“哆咖医生”网络服务及活动。(2)如果“哆咖医生”发现用户在软件使用中的用户数据异常，或用户因为程序数据异常而获利，“哆咖医生”有权根据本协议的规定，采取相应措施：包括但不限于对该帐号的冻结、终止、删除；基于上述行为而遭健科云网“哆咖医生”冻结、终止、删除帐号或采取其他限制措施的用户，健科云网“哆咖医生”不做任何补偿。在此过程中，如用户异常获利，健科云网“哆咖医生”有权追回所有款项。</p>
        
        <h1 class="iTitle">三、 协议内容</h1>
        <p>本协议内容包括协议正文及所有健科云网已经发布的或将来可能发布的各类协议、规则、声明等。所有协议、规则、声明等为本协议不可分割的组成部分，与协议正文具有同等法律效力。 医护人员应当在使用“哆咖医生”应用服务之前认真阅读全部协议内容。<span style="font-weight: 600;">只要医护人员使用“哆咖医生”应用服务，则本协议即对医护人员产生约束，届时医护人员不应以未阅读本协议的内容等理由，主张本协议无效，或要求撤销本协议。</span></p>
        <p>健科云网有权根据需要定期或不时制订、修改本协议和/或各类规则、声明等。并会在健科云网官方网站、“哆咖医生”应用中进行公示。健科云网更新后，变更的协议和规则立即自动生效。如医护人员继续使用“哆咖医生”服务，即表示接受经修订的协议、规则、声明等。</p>
        
        <h1 class="iTitle">四、 账户及管理</h1>
        <p>健科云网仅向正规医疗机构的执业医护人员提供相关服务。注册成为“哆咖医生”的医护人员应当是具备完全民事权利能力和完全民事行为能力的自然人，经合法登记、已获得相应执业证书或具有同等资质的医护人员，且同时必须拥有与自己执业类型相关的执业资格证，从业资格证或相应国家认可的资质，以及从业机构证明。若不符合本项条件，请勿使用本服务，健科有权随时自行全权决定拒绝向任何人士提供本服务。</p>
        <p>医护人员在使用哆咖医生前需申请注册账号。同一医护人员仅能注册一个哆咖医生账户，如同一一户人员注册多个账户，健科云网在通知后有权直接注销重复的账户。医护人员一旦注册成功，成为健科云网“哆咖医生”的合法用户并完成实名认证，将得到一个帐号。健科云网及时向医护人员提供服务，医护人员在注册时应授权健科云网、健科云网关联公司及健科云网合作方（如有）使用其个人信息。医护人员确认注册完成即视为授权健科云网、健科云网关联公司（及合作方）通过哆咖医生提取及使用医护人员的个人信息。健科云网搜集的信息包括但不限于医护人员的姓名、执业地址、联系电话、收入明细、提现记录等。医护人员的帐号由您本人自行负责保管。若您发现任何非法使用您的帐号或存在安全漏洞的情况，请立即通知健科云网“哆咖医生”。因黑客行为、不可抗力原因或因您的保管疏忽等情况导致帐号遭他人盗用、非法使用的，健科云网不承担任何责任。</p>
        <p>医护人员应保证和承诺：提供详尽、真实、准确和完整的个人资料。如果资料发生变动，您应及时更改。若您提供任何的资料是错误、不实、过时或不完整的，并为健科云网“哆咖医生”所确知；或者健科云网“哆咖医生”有合理理由怀疑前述资料为错误、不实、过时或不完整的，本网站有权暂停或终止您的帐号，并有权拒绝您现在或将来使用本网站的全部或一部分服务。在此情况下，您可通过健科云网的申诉途径与健科云网取得联系并修正个人资料，经健科云网核实后恢复账号。</p>
        
        <h1 class="iTitle">五、协议暂停，变更与终止</h1>
        <p>鉴于移动互联网服务的特殊性，健科云网有权随时变更、中断、中止或终止部分或全部的服务，健科云网无需另行通知您，也无需对您或任何第三方承担任何责任。 健科云网需要定期或不定期地对提供本服务的平台或相关的设备设施进行检修或者维护，如因此类情况而造成本服务在合理时间内的中断，健科云网无需为此承担任何责任，但健科云网应尽快进行通告，对此您无异议。</p>
        <p>如发生下列任何一种情形，健科云网有权随时中断、中止或终止向您提供本协议项下的部分或全部服务而无须对您或任何第三方承担任何责任：(1) 您提供的个人资料不真实或虚假的；(2) 您违反本协议中的规定或者附属协议、服务条款、指引或规则；(3) 您违反健科云网发布的政策；(4) 健科云网认定的其他情形。</p>
        <p>健科云网可随时根据本协议和实际情况中止或终止一项或多项网络服务，健科云网无需对您或任何其他第三方负责。</p>
        <p>您对本协议的不时修改、修订或补充有异议，或对本网站的服务不满，可以行使如下权利：(1) 停止使用健科云网提供的网络服务。 (2) 书面通告健科云网停止对您帐号的服务或注销账号。结束您的服务后，您使用网络服务的权利马上终止。即刻，健科云网不对您承担任何义务和责任。</p>
        
        <h1 class="iTitle">六、责任限制</h1>
        <p>医护人员理解并同意自主选择、使用“哆咖医生”应用并风险自负。在任何条件下，健科云网、关联公司、附属公司、员工、创建或者维护“哆咖医生”应用的人员对医护人员使用本应用或链接本站的第三方网站导致的直接、间接、偶然、特殊、关联性损害或利益损失，或由错误、疏漏、信号中断、文件删除、病毒、网站出错、漏洞导致的直接或间接损害，或由于运行不稳、通信故障、盗窃、破坏或未经授权使用导致的损害不承担任何法律责任。</p>
        <p>在进行注册和使用“哆咖医生”应用的过程中，医护人员的用户名注册与使用应符合网络道德规范和执业道德规范，遵守中华人民共和国的相关法律法规。医护人员的用户名必须为您的真实姓名，不能含有威胁、淫秽、谩骂、非法、侵害他人正当权益等有争议性的文字。医护人员在健科云网上的言论不得违法、不得违反公序良俗、不得使用攻击性语言恶意中伤他人，或作出虚假性陈述。医护人员保证在健科云网上提供的信息的真实性、合法性和有效性。医护人员对在健科云网上“哆咖医生”发布的所有内容自行承担全部的责任。</p>
        <p>自行配备上网所需的设备，包括手机，个人电脑，调制解调器及其他必要的设备装置等。医护人员使用网络服务不作其他非法用途；不得干扰或扰乱网络服务。不得盗用他人帐号，并承担由此行为造成的所有后果。您使用或提供的服务应遵守所有适用于健科云网“哆咖医生”应用的地方法律、国家法律和国际法律标准。应遵守从中国境内向外传输技术性资料时必须符合中国有关法律法规。</p>
        <p>若医护人员的行为不符合本协议的规定，健科云网“哆咖医生”应用有权做出独立判断，并立即中止或终止向该帐号提供服务。医护人员需对自己在网上的行为承担法律责任。若在健科云网“哆咖医生”应用上散布和传播反动、色情或其他违反国家法律法规的信息，健科云网“哆咖医生”应用的系统记录有可能作为医护人员违反法律的证据。</p>
        <p>对健科云网“哆咖医生”应用而言，帐号是唯一验证医护人员真实性的依据，只要使用了医护人员的帐号无论是谁登录均视为已经得到医护人员本人的全权授权，视为医护人员本人的行为。</p>      
        
        <h1 class="iTitle">七、隐私保护</h1>
        <p>保护医护人员的隐私是健科云网“哆咖医生”的一项基本政策和原则，健科云网“哆咖医生”保证不对外公开或向第三方提供医护人员在使用本服务时存储在健科云网“哆咖医生”的非公开内容，但下列情况除外：(1) 事先获得您的明确授权或同意的；(2) 根据有关的法律法规或相关政府主管部门的要求；(3)为维护社会公众利益需要的；(4) 为维护健科云网的合法权益。</p>
        <p>健科云网“哆咖医生”可能会与第三方合作向医护人员提供相关的网络服务，在此情况下，如该第三方同意承担与健科云网“哆咖医生”同等的保护医护人员隐私的责任，视为医护人员不可撤销的同意并授权健科云网“哆咖医生”应用将您的注册资料等提供给该第三方。</p>
        <p>在不透露医护人员个人隐私资料的前提下，医护人员同意健科云网“哆咖医生”对医护人员整个数据库进行分析并对数据库信息进行商业上的应用，包括开发、分析、使用、分享医护人员数据库中的信息。</p>
        <p>对于医护人员在享受服务过程中获得的任何第三方的信息或资料（包括但不限于用户信息、用户健康资料以及用于存储在健科云网“哆咖医生”用户中的仅向医护人员公开的任何信息），医护人员仅能用于解决该用户的问题、在用户同意的特定事项中或用户的授权范围内使用。医护人员不得用于其它用途，包括但不限于向其它第三方进行公开、使用、透露、授权、转让、出售、分享等行为。</p>
        
        <h1 class="iTitle">八、第三方信息</h1>
        <p>健科云网“哆咖医生”为医护人员提供的外部链接，包括但不限于任何广告内容、商业服务链接，以及该链接所指向网页之所有内容，均系该网页所属第三方所有（以下简称“第三方信息”）。第三方信息并非也不反映健科云网“哆咖医生”之任何意见或主张，也不表示健科云网“哆咖医生”同意或支持该第三方信息上的任何内容、主张、观点或立场。健科云网“哆咖医生”对第三方信息中内容之合法性、准确性、真实性、适用性、安全性和完整性等概不承担任何责任。医护人员如需要第三方信息（包括但不限于资讯、资料、消息、产品或服务介绍、报价等），并欲据此进行交易或其他行为前，应慎重辨别这些内容的合法性、准确性、真实性、适用性、完整性和安全性以及会否感染电脑病毒，并采取谨慎的预防措施。健科云网“哆咖医生”应用建议您先咨询专业人士的意见。</p>
        <p>任何单位或者个人因相信、使用第三方的信息、服务、产品等内容，或据此进行交易等行为，而引致的人身伤亡、财产毁损（包括因下载而感染电脑病毒）、名誉或商誉诽谤、版权或知识产权等权利的侵犯等事件，及因该等事件所造成的其他损害后果，健科云网“哆咖医生”概不承担任何法律责任。无论何种原因，健科云网不对任何非与健科云网“哆咖医生”应用直接发生的交易或行为承担任何直接、间接、附带或衍生的损失和责任。由此给健科云网带来的损失，健科云网有权向相关人员追偿。</p>
        
        <h1 class="iTitle">九、免担保声明</h1>
        <p>应用内容和服务的提供以“当前可获得”为基础。健科云网不提供任何默示保证。对于本应用、本应用内容、通过本应用获得的任何建议或者服务，健科云网明确表示不提供任何保证，不论明示的或暗示的，包括但不限于时效性、适用性、可靠性、准确性及完整性。健科云网既不担保服务一定能满足医护人员或用户的要求，也不担保服务不会被修改、中断或终止，并且对服务的及时性、安全性及错误发生均不作任何担保。医护人员自行承担使用本应用内容所导致的风险。</p>
        
        <h1 class="iTitle">十、知识产权</h1>
        <p>健科云网是本应用及相关网站所承载的相关内容（包括但不限于：文、图、视频、音频等）的版权所有者。未经健科云网的书面许可，禁止挪用或复制本应用内容。所有未在此明确授予医护用户的其他权利，健科云网将予以保留。</p>
        
        <h1 class="iTitle">十一、法律的适用及争议解决</h1>
        <p>本协议适用中华人民共和国之法律。如本协议之任何部分或条款与中华人民共和国法律法规相抵触，则该部分条款应按有关法律法规规定重新解释，部分条款之无效或重新解释不影响其它条款之法律效力。</p>
        <p>医护人员和健科云网一致同意凡因本协议所产生的纠纷双方应协商解决，协商不成任何一方均应提交北京健科云网科技有限公司所在地人民法院诉讼解决。</p>
        
    </div>

</div>
<%- include('ejs/foot') %>
<script>
    $(function(){
        $('.Y_docIndex').css('height',$(window).height()-$('.Jnav').height());
        $('body').css('height',$(window).height());
    })
</script>
</body>
</html>