<%- include('ejs/head') %>
<body class="swiperBody">
<div class='wrap J_ruleBox'>
    <section class="Ynav Jnav">
        <em  class="a Y_tump Docjump J_jumpBtn"> </em>
        <h1>提现规则</h1>
    </section>
    <div class="Y_docIndex J_patient J_protocol J_rule" style="display: none">
        <p>1、提现及到账时间：每个自然月的15号可发起提现申请（当月金额不可进行提现），限定为1次。申请发起后3-5个工作日到账，具体以账户到账时间为准。</p>
        <p>2、绑卡说明：为保护资金安全，现金提现需先进行实名认证，提现时绑定的银行卡或是支付宝信息须与实名认证保持一致。如因银行卡号或是支付宝账号错误，导致提现失败或实际到账账户有误，平台概不负责。</p>
        <p>3、提现金额限制：每个自然月15号进行提现操作时（当月金额不可进行提现），最低限额为10元。</p>
        <p>4、实际到账金额：为根据第三方平台和银行规则代扣公对私转账手续费之后实际金额。</p>
        <p>5、联系客服：如果您对当前收入有异议或需要修改已绑定的账户信息，可拨打400-1110-120获得帮助。</p>
        <p>6、本规则的最终解释权归健科云网所有。</p>
    </div>
</div>
<%- include('ejs/foot') %>
</body>
</html>