<%- include('ejs/head') %>
<body>
<!--<header class="Ynav Jnav">-->
    <!--<em  class="a Y_tump Docjump J_jumpBtn"> </em>-->
    <!--<h1>会员规则</h1>-->
<!--</header>-->
<section class="container memberRule">
    <ul class="clearfix memberRule_header">
       <li>会员级别</li>
       <li>会员等级</li>
       <li>成长值</li>
       <li>成长值获取</li>
    </ul>
    <ul class="clearfix memberRule_con_1">
        <li>默默无闻</li>
        <li>
            <div>LV1</div>
            <div>LV2</div>
            <div>LV3</div>
        </li>
        <li>1-999</li>
        <li>
            <div>1-399</div>
            <div>400-699</div>
            <div>700-999</div>
        </li>
    </ul>
    <ul class="clearfix memberRule_con_2">
        <li>医露头角</li>
        <li>
            <div>LV4</div>
            <div>LV5</div>
            <div>LV6</div>
        </li>
        <li>1000-2999</li>
        <li>
            <div>1000-1499</div>
            <div>1500-1999</div>
            <div>2000-2999</div>
        </li>
    </ul>
    <ul class="clearfix memberRule_con_3">
        <li>人气名医</li>
        <li>
            <div>LV7</div>
            <div>LV8</div>
            <div>LV9</div>
        </li>
        <li>3000-5999</li>
        <li>
            <div>3000-3999</div>
            <div>4000-4999</div>
            <div>5000-5999</div>
        </li>
    </ul>
    <ul class="clearfix memberRule_con_4">
        <li>医界领袖</li>
        <li>
            <div>LV10</div>
            <div>LV11</div>
            <div>LV12</div>
        </li>
        <li>6000-10000</li>
        <li>
            <div>6000-6999</div>
            <div>7000-7999</div>
            <div>8000-9999</div>
        </li>
    </ul>
</section>
<%- include('ejs/foot') %>
</body>
</html>