<%- include('ejs/head') %>
<body class="Y_HuiBody">
<div class="course">
    <section class="shareHeader">
        <span class="logo"></span>
        <span class="appName">哆咖医生</span>
        <span class="openApp" id="openApp">打开</span>
    </section>
    <section class="videoImg">
        <img src="" alt="">
    </section>
    <section class="doctor_Info">
        <h1>
            <i></i>
            <span></span>
        </h1>
        <p>
            <i></i>
            <span></span>
        </p>
    </section>
    <section class="doctor_Info_txt">
        <!--主任医师、硕士研究生导师一九八二年毕业于福建医科大学医学系，大学本科。一九八七年十一月至一九八八年十一月参加上海第二医科大学瑞金医院和上海市内分泌研究所举办的第九期全国内分泌代谢病医师进修班，进修学习内容为内分泌和代谢性疾业。-->
    </section>
</div>
<div style="background: #ffffff;" class="contentBig">
    <div class="pubBox course_list">
        <div class="pubIcon"><i></i>课程</div>
        <ul class="clearfix course_list_li">
            <!--<li>-->
                <!--<div>-->
                    <!--<img src="../images/broadcast_live.gif" alt="" class="broadcast_live">-->
                    <!--<img src="" alt="">-->
                <!--</div>-->
                <!--<p>从临床病例到临床思维ssdfsdfsdf</p>-->
            <!--</li>-->
        </ul>
    </div>

    <div class="pubBox article_list">
        <div class="pubIcon"><i></i>文章</div>
        <ul class="clearfix article_list_li">
            <!--<li>-->
                <!--<div><img src="" alt=""></div>-->
                <!--<p>从临床病例到临床思维ssdfsdfsdf</p>-->
            <!--</li>-->
        </ul>
    </div>

    <div class="pubBox case_list">
        <div class="pubIcon"><i></i>病例</div>
        <ul class="clearfix case_list_li">
            <!--<li>-->
                <!--<div><img src="" alt=""></div>-->
                <!--<p>从临床病例到临床思维ssdfsdfsdf</p>-->
            <!--</li>-->
        </ul>
    </div>
</div>

<div class="form_type_course" style="display: block">
    <div class="commentArea">
        <div class="titleCon">
            <i></i>
            <span>讨论</span>
        </div>
        <div class="yesTalk">
            <ul class="history">
                <!--<li commentId="46">
                        <div class="perImg">
                            <img src="../images/JpatientD.png"/>
                        </div>
                        <div class="perSpeech">
                            <div class="perName">
                                <div class="doctorName">李医生</div>
                                <div class="doctorSnap">
                                    <span>17</span>
                                    <img src="../images/H_collect_n.png"/>
                                </div>
                            </div>
                            <div class="speechCon">
                                好详细，真的学到了，每一个细节都是经验的积累，希望以后有机会可以当面交流。
                            </div>
                            <div class="speechTime">
                                <span class="talkTime">刚刚</span>
                                <p class="replyNum">
                                    <span class="replyCount">10</span>
                                    <span class="wenzi">回复</span>
                                </p>
                            </div>
                        </div>
                </li>-->
            </ul>
            <div class="downLoad" style="display: none">
                正在加载中---
            </div>
            <div class="showAllData" style="display: none">
                已展示全部数据
            </div>
        </div>

        <dl class="noTalk" style="display: none">
            <dt><img src="../images/H_noTalk.png"></dt>
            <dd>不支持评论</dd>
        </dl>
    </div>
</div>



<div class="hide recruitgomore"><span class="getMoreBtn" id="getMoreBtn">打开APP查看更多详情</span></div>
<%- include('ejs/foot') %>
</body>
</html>