<%- include('ejs/head') %>
<body class="recruit-process" style="background: #ebfdff;">
    <section class="recruit-process-top"><i class="recruit_icon J_jumpBtn"></i></section>
    <article>构建医生、药企及新临床方案研究人员的交流平台，普及临床试验知识，维护受试志愿者权益。</article>
    <article>研究者通过临床试验获得更新更好的治疗方法。新药物或疗法在普及前必须被验证是安全、有效的。</article>
    <article>设计缜密的临床试验是找到有效新疗法的最快途径。</article>
    <section class="recruit-process-mid">
        <div class="step"><span>1 在线报名</span><span>2 筛选</span><span>3 入组</span></div>
        <article>在线报名：在线填写招募推荐表，提交患者信息</article>
        <article>筛选：根据入组条件进行信息匹配筛选。</article>
        <article>入组：合格后入驻临床试验组。</article>
    </section>
    <section class="recruit-process-bot">
        <article>推荐成功您将获得招募基金</article>
    </section>
    <section class="recruit-contact">更多详情请联系我们：<a href="tel:400-1110-120" >400-1110-120</a></section>
<%- include('ejs/foot') %>
</body>
</html>