<%- include('ejs/head') %>
<body class="recruitBg">
    <section class="Ynav">
        <a href="javascript:;" class="Y_tump goBack"></a>
        <h1>详情</h1>
        <!--<span class="invitesImg collectBtn"></span>-->
        <span class="recruitImg shareBtn"></span>
    </section>
    <section class="shareHeader hide">
        <span class="logo"></span>
        <span class="appName">哆咖医生</span>
        <span class="openApp" id="openApp">打开</span>
    </section>

    <section class="container recruit">
        <div class="recruit-title"></div>
        <div class="recruit-time"></div>

        <div class="ql-container ql-snow Y_familyCD">
            <div class="ql-editor"></div>
        </div>
        <section class="recruit-join hide" style="padding-left:0;padding-bottom: 0;">
            <div class="join-agreement"><p class="recruit_icon_box"><i class="recruit_icon"></i></p>已阅读并同意 <span style="color: #47ddf1">《知情同意书》</span></div>
        </section>

        <div class="join-btn hide">马上报名</div>
    </section>

    <div class="hide recruitgomore"><span class="getMoreBtn" id="getMoreBtn">打开APP查看更多详情</span></div>
<%- include('ejs/foot') %>
</body>
</html>