<%- include('ejs/head') %>
<body>
<header class="Ynav Jnav hide">
    <em  class="a Y_tump Docjump J_jumpBtn"> </em>
    <h1>活动规则</h1>
</header>
<section class="container" style="padding-top: 0 !important;">
    <div class="ruleBox">
        <div class="rule_title">签到成长值规则：</div>
        <div class="rule_txt">
            第1-10天签到获取 5 成长值；<br/>
            第11-20天签到获取 8 成长值；<br/>
            第21-30/31天签到获取 10 成长值；<br/>
            每连续签到 5天：额外获得 10 成长值；<br/>
            每连续签到10天：额外获得 20 成长值；<br/>
            每连续签到15天：额外获得 25 成长值；<br/>
            每连续签到20天：额外获得 30 成长值；<br/>
            每连续签到30/31天：额外获得 50 成长值；<br/>
            当连续签到中断后，则回到初始签到状态重新累计连续签到天数；<br/>
            连续签到满一个月，最后一天额外发放 50 成长值；
        </div>
    </div>
</section>
<%- include('ejs/foot') %>
</body>
</html>