<%- include('ejs/head') %>
<body>
<div class='wrap'>
    <section class="Ynav">
        <a href="Y_DC.html" class="Y_tump" style="height:40px;"> </a>
        <h1 style="height:1.5rem;margin-top:0.28rem;width:70%"><input type="text" class="YSeachinput" id="YSeachinput"></h1>
        <b class="Y_tump DCcancleBtn">取消</b>
    </section>
    <div class="Y_docIndex JindexBox">
       <div class='Y_DCCon Y_DCSeach Y_DCSeach2 JDCCon JmoreList'>

       </div>
    </div>
</div>
<%- include('ejs/foot') %>
</body>
</html>