<%- include('ejs/head') %>
<body>
<div class='wrap'>
    <section class="Ynav">
        <!--<a href="Y_docIndex.html" class="Y_tump J_jumpBtn"> </a>-->
        <a href="javascript:;" class="Y_tump J_jumpBtn"> </a>
        <h1>疾病</h1>
        <b class="Y_tump">
            <a href="Y_DCSearch.html">
                <img src="../images/Y_seach.png">
            </a>
        </b>
    </section>
    <div class="Y_docIndex JindexBox JcontentBox">
       <div class='Y_DCCon Y_DCConList JDCCon'>
         <ul>
         </ul>
       </div>
    </div>
</div>
<%- include('ejs/foot') %>
</body>
</html>