<%- include('ejs/head') %>
<body class="Y_HuiBody" style="position: relative">
    <section class="Ynav">
        <a href="javascript:;" class="Y_tump infoDetail_btn"> </a>
        <h1 class="XK_title"></h1>
        <!--<b class="Y_tump"></b>-->
        <span class="invitesImg collectBtn"></span>
        <span class="invitesImg shareBtn"></span>
    </section>
    <section class="shareHeader hide">
        <span class="logo"></span>
        <span class="appName">哆咖医生</span>
        <span class="openApp" id="openApp">打开</span>
    </section>
    <div class="JDCCon infoDetail">
        <div class="infoDetail_inner"></div>
    </div>

    <!--分享出去之后的-->
    <!--<div class="viewMoreClass hide">-->
        <!--<span class="getMoreBtn">-->
            <!--查看更多-->
        <!--</span>-->
    <!--</div>-->
    <div class="hide recruitgomore"><span class="getMoreBtn" id="getMoreBtn">打开APP查看更多详情</span></div>
<%- include('ejs/foot') %>
</body>
</html>