<%- include('ejs/head') %>
<body class="Y_HuiBody MediCalcBody">
<section class="Ynav">
   <!--<a href="Y_docIndex.html" class="Y_tump"> </a>-->
   <a href="javascript:;" class="Y_tump J_jumpBtn"> </a>
   <h1>医学计算器</h1>
   <b class="Y_tump"></b>
</section>
<div class="Y_docIndex JindexBox">
   <div class='wrap Y_MediCalc JDCCon'>
      <div class='Y_MediCalcLt'>
         <ul>
         </ul>
      </div>
      <div class='Y_MediCalcRt'>
          <ul>
            <!--<li><h3>穿透性心脏外伤</h3><p>成人公式：赵松山，刘友梅，姚佳邦</p></li>
            <li>体重指数BMI</li>
            <li>基础能量消耗</li>
            <li>理想体重（Broca法）</li>
            <li>标准体重IBW</li>
            <li>基础能耗Harris-Benedic</li>
            <li>基础能耗Shizgal-Rosa</li>
            <li>静脉补液滴速</li>-->
         </ul>
      </div>
   </div>
</div>
<%- include('ejs/foot') %>
</body>
</html>