<%- include('ejs/head') %>
<body class="Y_HuiBody" style="overflow: hidden!important;background: #fff">
<div class='Y_wrap wrap'>
    <section class="Ynav">
        <a href="javascript:;" class="Y_tump J_jumpBtn"> </a>
        <h1>全部记录</h1>
    </section>
    <div class="Y_MoreBS Y_MoreBO">
        <!--图表-->
        <div class="shadowWrapper shadowWrapper1 Y_MoreAHC Y_MoreBOC">
            <div class="title">
                <span class="time">时间<b>min</b></span>
                <span>血氧饱和度<b>SpO2</b></span>
                <span>脉搏<b>bpm</b></span>
            </div>
            <!--滚动区域-->
            <div id="wrapper" style="overflow: hidden;">
                <div id="scroller">
                    <div id="pullDown">
                        <span class="pullDownLabel">下拉刷新</span>
                    </div>
                    <div id="thelist">
                    </div>
                    <div id="pullUp">
                        <span class="pullUpLabel">上拉加载更多</span>
                    </div>
                </div>
            </div>
        </div>
        <!--图表end-->
    </div>
</div>
<%- include('ejs/foot') %>
</body>
</html>