<%- include('ejs/head') %>
<body class="Y_HuiBody MediCalcBody">
<div class="wrap">
   <section class="Ynav">
      <a href="javascript:;" class="Y_tump J_jumpBtn"> </a>
      <h1>我的服务</h1>
      <b class="Y_tump"></b>
   </section>
   <div class="Y_docIndex">
      <div class='Y_MySer'>
         <h2 class="sign_d_title">线上服务</h2>
         <ul>
            <li class="Y_MySerLi1">
               <h2>图文咨询<span class="Y_RRconDown"><b></b><i></i></span></h2>
               <div class='Y_MySerTXT'>
                  <p class="Y_button">开通服务<span class="switch-off" themecolor="#53D76A" id="fly"></span></p>
                  <p>服务费用<span><b></b><img src="../images/Y_DCListicon.png"></span></p>
               </div>
            </li>
            <li class="Y_MySerLi2">
               <h2>语音咨询<span class="Y_RRconDown"><b></b><i></i></span></h2>
               <div class='Y_MySerTXT'>
                  <p class="Y_button">开通服务<span class="switch-off" themecolor="#53D76A" id="fly1"></span></p>
                  <p>服务费用<span><b></b><img src="../images/Y_DCListicon.png"></span></p>
                  <p>服务时间<span><b></b><img src="../images/Y_DCListicon.png"></span></p>
               </div>
            </li>
            <li class="Y_MySerLi3">
               <h2>视频咨询<span class="Y_RRconDown"><b></b><i></i></span></h2>
               <div class='Y_MySerTXT'>
                  <p class="Y_button">开通服务<span class="switch-off" themecolor="#53D76A" id="fly2"></span></p>
                  <p>服务费用<span><b></b><img src="../images/Y_DCListicon.png"></span></p>
                  <p>服务时间<span><b></b><img src="../images/Y_DCListicon.png"></span></p>
               </div>
            </li>
         </ul>
         <h2 class="sign_d_title MypackWebTitle">家医服务包</h2>
         <ul class="MypackWeb">
            <li class="Y_SerLiSet">服务包设置<span class="serverSet"><img style="height: 15px" src="../images/Y_DCListicon.png"></span></li>
            <li class="Y_MySerLiSet">我的服务包<span class="serverSet_my"><img style="height: 15px" src="../images/Y_DCListicon.png"></span></li>
         </ul>
      </div>
   </div>
</div>
<%- include('ejs/foot') %>
</body>
</html>