<%- include('ejs/head') %>
<body class="Y_HuiBody MediCalcBody">
<section class="Ynav">
   <a href="Y_MySer.html" class="Y_tump"> </a>
   <h1>视频咨询</h1>
   <b class="Y_tump"></b>
</section>
<div class="Y_docIndex">
   <div class='wrap Y_MySer Y_MySerTXT'>
     <ul>
         <li class="Y_button">视频咨询<span class="switch-off" themecolor="#53D76A" id="fly"></span></li>
         <li>服务费用<span><b></b><img src="../images/Y_DCListicon.png"></span></li>
         <li>视频时间<span><b></b><img src="../images/Y_DCListicon.png"></span></li>
         <!--<li><a href="../html/Y_MySerIn.html" style="display:block;">服务介绍<span><b></b><img src="../images/Y_DCListicon.png"></span></a></li>-->
     </ul>
   </div>
</div>
<%- include('ejs/foot') %>
</body>
</html>